flows.json
[
    {
        "id": "72f4f961.ac6328",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "7bb02bec.1fdd14",
        "type": "bulbsin",
        "z": "72f4f961.ac6328",
        "name": "",
        "subtype": "hue-ZLLPresence",
        "x": 90,
        "y": 294,
        "wires": [
            [
                "cf7cded8.0f4bb"
            ]
        ]
    },
    {
        "id": "2f334b34.876144",
        "type": "trigger",
        "z": "72f4f961.ac6328",
        "op1": "on",
        "op2": "off",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": "false",
        "units": "s",
        "reset": "",
        "name": "",
        "x": 359,
        "y": 296,
        "wires": [
            [
                "8ddd22ce.677e"
            ]
        ]
    },
    {
        "id": "8ddd22ce.677e",
        "type": "bulbsout",
        "z": "72f4f961.ac6328",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 481,
        "y": 290,
        "wires": []
    },
    {
        "id": "cf7cded8.0f4bb",
        "type": "dbfunction",
        "z": "72f4f961.ac6328",
        "name": "",
        "func": "if (msg.payload.value.presence){\n    return msg;\n}",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "{}",
        "noerr": 0,
        "x": 225,
        "y": 314,
        "wires": [
            [
                "2f334b34.876144",
                "15e3438a.c3e23c"
            ]
        ]
    },
    {
        "id": "15e3438a.c3e23c",
        "type": "debugger",
        "z": "72f4f961.ac6328",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 357.5,
        "y": 188,
        "wires": []
    }
]